@model mvcpruebaTecnica.Models.Usuario
@{
    ViewData["Title"] = "Creacion de Usuarios";
}
<h4>Mantenimiento de Clientes</h4>
<hr />
 
<div class="row">
    <div class="col-md-6">
        <form asp-action="Resform"  method="post">
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label asp-for="nombres" class="control-label"></label>
                    <input asp-for="nombres" class="form-control" />
                    <span asp-validation-for="nombres" class="text-danger"></span>
                </div>
         
            <div class="form-group">
                <label asp-for="direccion" class="control-label"></label>
                <input asp-for="direccion" class="form-control" />
                <span asp-validation-for="direccion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="telefono" class="control-label"></label>
                <input asp-for="telefono" class="form-control" />
                <span asp-validation-for="telefono" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="usuario" class="control-label"></label>
                <input asp-for="usuario" class="form-control"  />
                <span asp-validation-for="usuario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="identificacion" class="control-label"></label>
                <input asp-for="identificacion" class="form-control"  />
                <span asp-validation-for="identificacion" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="contrasena" class="control-label"></label>
                <input asp-for="contrasena" class="form-control"  />
                <span asp-validation-for="contrasena" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label>tipo 1 = Administrador , Tipo 2 = Usuario</label>
                 <input asp-for="idtipo" class="form-control" />
                <span asp-validation-for="idtipo" class="text-danger"></span>
            </div>
 
            <div class="form-row">
                <div class="form-group col-md-6">
                    <input type="submit" value="Enviar" class="btn btn-primary btn-block" />
                </div>
                
            </div>
 
        </form>
    </div>
</div>
 

@section scripts
{
     @{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
        $(document).ready(function() {
            //alert("Test");
        });
    </script>
}
